<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHRAMDHAN</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="icon" href="./logo2222.png" type="image/png">

</head>
<body>
    <div id="main">
        <div id="section1">
            <div id="nav">
                <div id="logo">
                    <img src="/images/logo.png" alt="logo">
                    <h1>ShramDhan</h1>
                </div>
                <div id="links">
                    <a href="#about">About Us</a>
                    <a href="#">Jobs</a>
                    <a href="#">Skill</a>
                    <a href="#">Help</a>
                </div>
            </div>
            <div id="blur">
                <div id="box">
                    <input type="text" placeholder="What Job title,keyword or company">
                    <input type="text" placeholder="Where City,state or remote">
                    <button>Find Jobs</button>
                </div>
                <div id="city">
                    <div class="cit">Bhopal</div>
                    <div class="cit">Indore</div>
                    <div class="cit">Mumbai</div>
                    <div class="cit">Pune</div>
                    <div class="cit">Patna</div>
                    <div class="cit">Begusarai</div>
                </div>
            </div>

            <a id="voice" href="https://www.instagram.com/nikhil_somvanshi_/">
                <img src="/images/voice.jpg" alt="">
            </a>
        </div>

        <div id="about">
            <img src="/images/about.jpg" alt="">
        </div>
    </div>
</body>
</html>